/* Footer Styles */
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer .footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer .footer-logo {
    text-align: center;
}

.footer .footer-logo img {
    max-width: 30%;
    height: auto;
    margin-bottom: 15px;
}

.footer .footer-email {
    margin-bottom: 15px;
    font-size: 14px;
}

.footer .footer-social-icons {
    display: flex;
    justify-content: center;
}

.footer .footer-social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer .footer-social-icons a:hover {
    color: #ccc;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #ccc;
}

.footer .newsletter-col {
    width: 25%; /* Adjust width as needed */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .newsletter-input {
    padding: 7px;
    width: 100%;
    margin-right: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
}

.footer .newsletter-btn {
    padding: 7px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer .newsletter-btn:hover {
    background-color: #444;
}

.footer .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .footer-copyright {
    color: #fff;
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 950px) {
    .footer .footer-col,
    .footer .newsletter-col {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .footer .footer-col,
    .footer .newsletter-col {
        width: 100%;
    }

    .footer .footer-social-icons a {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .footer .footer-logo img {
        max-width: 150px;
    }
}

@media (max-width: 450px) {
    .footer .footer-logo img {
        max-width: 120px;
    }
}

@media (max-width: 300px) {
    .footer .footer-social-icons a {
        font-size: 16px;
    }
}

@media (max-width: 200px) {
    .footer .footer-logo img {
        max-width: 100px;
    }
}

@media (max-width: 100px) {
    .footer .footer-logo img {
        max-width: 80px;
    }
}
