.form-container {
    padding: 50px;
  }
  
  .form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .top {
    text-align: center;
  }
  
  .logo {
    width: 150px;
  }
  
  .submit {
    margin-top: 20px;
  }
  
  .home {
    margin-top: 20px;
    margin-right: 10px;
  }
  